<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Top Secret Storage</title>
    </head>
    <body>
        <h1>Add new secret</h1>
        <form action="/secretsmanager/addnew/" method="POST">
            {% csrf_token %}
            <p>Title: <input type="text" name="title"/></p>
            <p>Classification: </p>
                <label for="public">Public</label>
                <input type="radio" id="public" name="classification" value="PUBLIC"/>
                <label for="classified">Classified</label>
                <input type="radio" id="classified" name="classification" value="CLASSIFIED"/>
                <label for="top-secret">Top Secret</label>
                <input type="radio" id="top-secret" name="classification" value="TOP_SECRET"/>
            
            <p>Secret: <input type="text" name="secret"/></p>
            <p>
                <input type="submit" value="Save"/> 
            </p>
        </form>
    </body>
</html>